.main{
  min-height: var(--content-height);
  padding-top: 3vh;
}
.header {
  text-align: center;
  font-weight: 500;
  font-size: var(--header-font-size);
  border-bottom: 1px solid var(--navbar-light);
  width: 40vw;
  margin: auto;
  margin-bottom: 20px;
  color: var(--light-text);
  }
  .photos{
  padding: 40px;
    max-width: var(--content-width);
    margin:  auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
.img{
  width: 23%;
  margin: 1%;
  width: 23%;
  height: 300px;
}
@media screen and (max-width:1500px) {
  .img{
    width: 31%;
  }
}
@media screen and (max-width:1000px) {
  .img{
    width: 48%;
  }
}
@media screen and (max-width:700px) {
  .img{
    width: 95%;
  }
}