.main{
    min-height: 80vh;
    padding-top: 5vh;
}
.header {
  font-size: var(--header-font-size);
  border-bottom: 2px solid var(--navbar);
  width: var(--header-width);
  margin: auto;
  text-align: center;
  border-radius: 15px;
  color: var(--light-text);
  }
  .photos{
  padding: 40px;
    max-width: 2300px;
    margin:  auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
.img{
    height: 35vh;
    min-height: 300px;
    max-width: 700px;
    max-height: 600px;
    min-width: 280px;
    width: 35vw;
  margin: 1%;
}