.project{
   width: 100vw;
    height: 100%;
    padding-bottom: 50px; 
}
.content{
    width: clamp(270px,80%,1500px);
    margin: auto;
    border-radius: 15px;
    background-color: var(--navbar-dark);
    border: 3px solid gold;
    margin-top: calc(var(--navbar-height) + 1vw);
}

.map{
    padding-bottom: 50px;
    z-index: 0;
    margin: auto;
    width:clamp(260px,60vw,700px);
    height: clamp(260px,30vw,450px);
}
.header{
    color: aliceblue;
    font-size: clamp(0.9rem,3vw,3rem);
    text-align: center;
    padding-top: 40px;
    width: 70%;
    margin: auto;
    font-weight: 700;
}
.description{
    color: aliceblue;
    width: clamp(200px,90%, 1000px);
    margin: auto;
    margin-top: 5vh;
    font-size: clamp(1rem,2vw,2rem);
}
.date{
    width: clamp(200px,90%, 1000px);
    margin-left: 65%;
    text-align: center;
    border-radius: 50px;
    width: 30%;
    max-width: 270px;
    background-color: var(--foregrund-color);
    color: aliceblue;
font-size: clamp(0.5rem,2vw,1.5rem);
}


.contentImg {
    width: 90%;
    height: 90%;
    min-height: 200px;
    border-radius: 15px;
    margin-top: 2vh;
  }
  .icon {
    width: 30px;
  }
  .arrow{
    height: 50px;
    cursor: pointer;
  }
  .slider{
    display: grid;
    place-items: center;
    grid-template-columns: 7% 86% 7%;
  }
  .sliderHeader{
    font-size: var(--header-font-size);
    color: var(--background-color);
    border: 1px solid gold;
    width: var(--header-width);
    margin: auto;
    text-align: center;
    border-radius: 15px;
    background-color: var(--navbar-light);
    color: aliceblue;
  }
  .gallery{
    margin-top: 10px;
    padding-top: 10px;
    background-color: var(--background-color);
  }