.project{
   width: 100vw;
    height: 100%;
    background-color: var(--background-color);
    padding-bottom: 50px;    
}
.content{
    width: clamp(270px,80%,1500px);
    margin: auto;
    border-radius: 15px;
    background-color: var(--foreground-color);
}

.map{
    padding-bottom: 50px;
    z-index: 0;
    margin: auto;
    width:clamp(260px,60vw,700px);
    height: clamp(260px,30vw,450px);
}
.header{
    color:var(--text-color);
    font-size: clamp(0.9rem,3vw,2rem);
    text-align: center;
    padding-top: clamp(30px,11vh,200px);
    width: 70%;
    margin: auto;
    font-weight: 700;
}
.description{
    width: clamp(200px,90%, 1000px);
    margin: auto;
    margin-top: 5vh;
    color: var(--text-color);
    font-size: clamp(1rem,2vw,2rem);
    background-color: var(--foreground-color);
}
.date{
    width: clamp(200px,90%, 1000px);
    margin: auto;
    text-align: right;

}
