.main {
 height: 500px;
  display: grid;
  background-color: var(--navbar-light);
  grid-template-rows: 10% 90%;
  border-radius: 15px;
  margin-top: 2vh;
 
}
.slider {
  background-color: var(--light-background);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 90% 10%;
  place-content: center;
}
.head {
  font-size:clamp(0.9rem,4vw,2rem);
  margin: auto;
  font-weight: 600;
  text-align: center;
  color: var(--dark-text);
}

.leftArrow,
.rightArrow {
  height: clamp(50px,15vw,150px);
  background-color: var(--navbar-light);
  border-radius: 10%;
  margin: 2px;
  cursor: pointer;
}

.dots {
  color: var(--light-text);
  width: 120px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size:3rem;
  margin-top: 2vh;
}
.dot:hover {
  cursor: pointer;
  opacity: 0.7;
}
.leftArrow:hover,
.rightArrow:hover {
  opacity: 0.6;
}

.slide {
  margin: auto;
  animation-name: appear;
  animation-duration: 1700ms;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.none{
  display: none;
}

.activeDot{
height: 20px;
width: 20px;
border-radius: 50%;
background-color: var(--dark-background);
}
.dots{
  list-style-type: none;
}
.dot{
  background-color: white;
  border: 1px solid white;
  height: 20px;
width: 20px;
border-radius: 50%;
}