.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  font-family: sans;
}
.content {
  width: 90vw;
  max-width: 1980px;
  min-height: 484px;
  margin: auto;
  margin-top: 20px;
  background-color: var(--navbar-dark);
  color: aliceblue;
  margin-bottom: 20px;
  border-radius: 15px;
  border: 1px solid gold;
}
.contentHeader {
text-align: center;
}


.question {
  border-bottom: 1px solid var(--navbar);
}
.quest {
  display: flex;
  font-size: clamp(1rem, 5vw, 2rem);
  font-weight: 200;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.quest > h6 {
  cursor: pointer;
}
.answer,
.quest {
  width: 90%;
  margin: auto;
}

.svg {
  cursor: pointer;
  height: 45px;
}