.main {
  height: 100px;
  width: 100vw;
  border: 1px solid gold;
  margin: auto;
  border-radius: 15px;
  color: goldenrod;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(65, 45, 10);
}
.main > h4 {
  width: 100%;
  text-align: center;
  font-size: clamp(1rem,2vw,2rem);
}
