.main {
  width: 100vw;
  height: 100%;
  margin-bottom: 40px;
}

.header {
  font-size: var(--header-font-size);
  color: var(--background-color);
  border: 1px solid gold;
  width: var(--header-width);
  margin: auto;
  text-align: center;
  border-radius: 15px;
  background-color: var(--navbar-dark);
  color: aliceblue;
  margin-top: calc(var(--navbar-height) + 1vw);
  margin-bottom: 20px;
}

.content {
  display: grid;
  grid-template-columns: 100%; /* Modify grid-template-columns for responsiveness */
  width: 98vw;
  height: 90vh;
  border-radius: 15px;
  background-color: rgb(24, 12, 0);
  color: aliceblue;
  margin: auto;
  grid-template-columns: 50% 50%;
}



.upload {
  border-radius: 15px;
  border: 1px solid gold;
  margin: 3px;
  background-color: var(--navbar-dark);
  display: grid;
  grid-template-rows: 10% 37% 38% 9%;
  column-gap: 1%;
}
.uploadHeader{
  text-align: center;
 
  margin: 0;
}

.form {
  height: 100%;
  display: grid;
  grid-template-rows: 25% 70%
 
}
.formWrapper,.description{
  height: 100%;
}
.formWrapper{
  display: grid;
  grid-template-columns: 33% 34% 33%;
}
.formWrapper>div>input{
  height: 30px;
  width: 10vw;
  min-width: 120px;
  border-radius: 15px;
  border: 1px solid gold;
}
.wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.formWrapper>div>div>select{
  height: 30px;
  width: 7vw;
  min-width: 60px;
  border-radius: 15px;
  border: 1px solid gold;
}
.datePicker{
  display: grid;
  grid-template-rows: 40% 60%;
}
.datePicker>h4{
  margin: 0 auto;
}
.datePicker>div{
  display: flex;
  justify-content: space-between;
}
.formWrapper>label:nth-child(3){
  margin-left: 5px;
}
.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description>textarea{
  height: 70%;
  width: 80%;

  border-radius: 15px;
  overflow-y: scroll;
}

/* Add more media queries as needed for other elements */
.map{
  height: 100%;
  width: 90%;
  margin: auto;
}

.photoInput{
display: flex;
justify-content: center;
align-items: center;
width: 90%;
height: 90%;
margin:auto;
margin-top: 5%;
background-color: var(--navbar-light);
font-size: clamp(1rem,2vw,2.5rem);
font-weight: 900;
border-radius: 15px;
border-top: 1px solid gold;
}
.imageUpload{
  display: none;
}
.imageLabel:hover{
  cursor: pointer;
  opacity: 0.7;
}

.imageLabel{
  width: 100%;
  height: 100%;
  display: grid;
place-content: center;}