.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color);
  color: aliceblue;
}
.content {
  display: grid;
  grid-template-columns: 50% 50%;

  width: 98vw;
  height: 90vh;
  border-radius: 15px;
  border: 3px solid gold;
}
.projectHeader {
  border-radius: 15px;
  border: 1px solid gold;
  background-color: var(--background-color);
  outline: none;
  font-size: clamp(1rem, 2vw, 1.8rem);
  color: white;
  height: 50px;
  width: clamp(200px, 30%, 400px);
}
.upload {
  background-color: var(--foreground-color);
  border-radius: 15px;
  border: 1px solid gold;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-size: clamp(1rem, 5vw, 2rem);
}
.description {
  min-height: 100px;
  min-width: 250px;
  width: 70%;
  height: 20vh;
  border-radius: 15px;
  border: 1px solid gold;
  background-color: var(--background-color);
  outline: none;
  font-size: clamp(1rem, 2vw, 1.8rem);
  color: white;
}

.location {
  width: 300px;
  height: 50px;
  background-color: var(--background-color);
  color: aliceblue;
  font-size: clamp(1rem, 2vw, 1.8rem);
  border-radius: 15px;
  outline: none;
  border: 1px solid gold;
  cursor: pointer;
}
.imageLabel {
  border: 1px solid gold;
  margin-top: 10px;
  cursor: pointer;
  background-color: var(--background-color);
  color: aliceblue;
  border-radius: 15px;
  font-size: 1.8rem;
  width: 300px;
  height: 100px;
  display: grid;
  place-content: center;
  margin-top: 50px;

  text-align: center;
}

input[type="file"] {
  display: none;
}
.saveButton {
  height: 100px;
  margin-top: 5vh;
  background-color: var(--foreground-color);
  color: aliceblue;
  font-size: clamp(1rem, 2vw, 1.8rem);
  border-radius: 50px;
  outline: none;
  border: 1px solid gold;
  cursor: pointer;
width: 100%;  
}
.map {
  margin: auto;
  height: 30%;
  min-height: 300px;
  min-width: 250px;
  width: 75%;
}
.photos {
  text-align: center;
  height: 400px;
  width: 98%;
  display: grid;
  grid-template-rows: 25% 75%;
  border: 2px solid gold;
  border-radius: 15px;
  margin-top: 20px;
}
.photoScroll {
  display: flex;
  overflow-y: hidden;
}

.headers{
  display: grid;
  place-items: center;
}
.descriptionPrev {
  max-height: 200px;
  width: 70%;
  overflow-x:hidden;
  overflow-y:scroll;
}
.imagePrev {
  height: 280px;
  width: 280px;
  margin: 0 20px;
 
}
.photo {
  display: inline-flex;
  cursor: pointer;
}
.bin {
  height: 50px;
  position: absolute;
  left: -70px;
  top: 225px;
  display: block;
}

.bindiv{
  position: relative;
}
.bindiv:hover{
  opacity: 0.5;
}

.preview {
  overflow: scroll;
}
.none{
  display: none;
}

.beforeUpload{
  width: 100%;
  height: 50%;
  margin-top:10%;
  font-size: 2rem;
  border-radius: 50px;
  border: 3px solid var(--foreground-color);
  display: grid;
  place-content: center;
  background-color: var(--background-color);
}
.preview>h1{
  text-align: center;
}