.main{
    border: 1px solid gold;
    background-color: var(--foreground-color);
    width: 90%;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    color: aliceblue;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    border-radius: 50px;
    height: 12vh;
    min-height: 100px;
}
.main>p{
    margin: 0;
    font-size: clamp(1.3rem,5vw,2rem);
}
.buttons{
    color: aliceblue;
    height: 60px;
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;

}
button{
    height: 60px;
    
    font-size: 1.5rem;
    color: aliceblue;
    font-weight: 900;
    background-color: rgb(24, 122, 122);
    border: none;
    margin: 0 5px;
}
button:nth-child(1){
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}
button:nth-child(2){
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
}
button:hover{
    cursor: pointer;
}
button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.icon{
    height: 50px;
}