.main {
  width: 100vw;
  height: 100%;
}

.header {
  font-size: var(--header-font-size);
  color: aliceblue;
  border: 1px solid gold;
  width: var(--header-width);
  margin: auto;
  text-align: center;
  border-radius: 15px;
  background-color: var(--navbar-dark);
  color: aliceblue;
  margin-top: calc(var(--navbar-height) + 1vw);
}

.projectList {
  margin: auto;
  width: clamp(200px, 90vw, 2000px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1vw;
  row-gap: 15px;
  padding: 20px;
}

.project {
  border-radius: 15px;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid gold;
}

.contentImg {
  width: 90%;
  height: 90%;
  min-height: 200px;
  border-radius: 15px;
  margin-top: 2vh;
}

.icon {
  width: 30px;
}

.arrow {
  cursor: pointer;
  z-index: 1;
}

.slider {
  position: relative;
  display: grid;
  grid-template-columns: 7% 86% 7%;
  align-items: center; /* Center items vertically */
}

.slides {
  display: flex;
  overflow-x: hidden;
}

.slides img {
  flex: 0 0 100%;
}

.leftArrow {
  grid-column: 1; /* Position left arrow at the start */
}

.rightArrow {
  grid-column: 3; /* Position right arrow at the end */
}

.projectHeader {
  margin: 0;
  height: 50px;
  font-size: clamp(0.9rem, 1.8vw, 2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-weight: 900;
  margin-top: 15px;
}

.location {
  height: 50px;
  width: 100%;
  margin: auto;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.moreBtn {
  width: 40%;
  margin: auto;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  height: 50px;
  font-weight: 900;
  border: none;
  display: grid;
  place-items: center;
  background-color: rgb(60, 75, 90);
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.moreBtn > a {
  text-decoration: none;
  color: aliceblue;
}

.moreBtn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.footer {
  margin-top: 50px;
}

/* Responsive */

@media screen and (max-width: 1000px) {
  .projectList {
    grid-template-columns: repeat(2, 1fr);
  }

  .projectHeader {
    font-size: clamp(0.9rem, 2.3vw, 2rem);
  }
  .project {
    margin: 5px;
  }
}

@media screen and (max-width: 550px) {
  .projectList {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    column-gap: unset;
    row-gap: unset;
    padding: unset;
  }

  .projectHeader {
    font-size: clamp(1rem, 5vw, 2rem);
  }
}