.content {
  background-color: rgb(224, 236, 201);
}
.header {
  text-align: center;
  font-size: clamp(1rem, 2vw, 3rem);
  height: clamp(100px,10vh,200px);
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  color: rgb(60, 75, 90);
  width: clamp(300px, 90vw,1500px);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3vw;
  row-gap: 15px;
  overflow: hidden;
  padding-bottom: 30px;
}

.project {
  border-radius: 15px;
  background-color: aliceblue;
}
.contentImg {
  width: 96%;
  margin: 2%;
  border-radius: 15px;
}
.icon {
  width: 30px;
}
.projectHeader {
  margin: 0;
  height: 50px;
  font-size: clamp(1rem, 1.5vw, 2rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.location {
  height: 50px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moreBtn {
  width: 40%;
  margin-left:30%;
  font-size:clamp(1rem,1.5vw,1.5rem);
  height:50px;
  color: aliceblue;
  font-weight: 900;
  border: none;
  background-color: rgb(60, 75, 90);
  border-radius: 20px;
  margin-bottom: 10px;
}
.moreBtn:hover{
  cursor: pointer;
  opacity: 0.7;
}



/* Responsive */
@media screen and (max-width:800px) {
  .projects{
    grid-template-columns: repeat(2,1fr);
  }
}
@media screen and (max-width:500px) {
  .projects{
    grid-template-columns: repeat(1,1fr);
  }
}