.main {
  min-height: 100%;
  min-width: 100%;
  margin-top: 115px;
}

.header {
  text-align: center;
  color: aliceblue;
  font-size: clamp(1.3rem, 2vw, 3rem);
  margin: auto;
  min-height: 40px;
  margin-bottom: 5px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #012126;
}

.contact {
  width: clamp(250px, 90vw, 1500px);
  margin: auto;
  height: 100%;
  margin-bottom:70px;
  background-color: #499ead;
  border-radius: 15px;
}

.content {
  background-color: #068096;
  width: 100%;
  display: flex; 
  flex-direction: column; 
  border-radius: 15px;
}

.social {
  font-size: clamp(1rem, 2vw, 2rem);
  margin-left: clamp(5px,1vw,40px);
}

.socialIcon {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.list {
  margin-top: clamp(10px, 5vw, 40px);
  padding: 0; 
  display: flex; 
  flex-direction: column; 
  list-style-type: none;
}

.listItem > a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.listItem > a > h4 {
  margin-left: 20px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.map {
  height:350px;
  width: 98%;
  max-width: 650px;
margin: auto;
margin-bottom:1%;
}

.head {
  font-size: clamp(1.1rem, 2vw, 3rem);
  margin: 0;
  text-align: center;
  color: aliceblue;
}

.street {
  font-size: clamp(0.7rem, 2vw, 2rem);
  text-align: center;
  color: aliceblue;
  margin: 1vw;
}



@media screen and (min-width: 900px) {
  .content {
    flex-direction: row; 
    justify-content: space-between; 
    height:70vh;
  }
  .social,
  .address {
    width: 45%; 
    height: 100%;
  }
}