.main {
  width: 100vw;
height: 90px;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
}

.navbar {
  position: absolute;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: lightblue;
}
.mobile {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
 
}
.dropdown {
  margin-left: 5%;
  z-index: 999;
}
.logo {
 
  width: 200px;
  margin-right: 5%;
  height: 60px;
  
  opacity: 0.8;
}
.dropList {
  display: grid;
  grid-template-columns: 70% 30%;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  border-radius: 15px;
  z-index: 997;
}

.dropList > ul {
  background-color: #e8a87c;
  margin: 0;
  border-top-left-radius: 15px;
}
.dropList > ul > li {
  margin-left: -10px;
  margin-top: 40px;
  border-bottom: 2px solid gray;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #242582;
  list-style-type: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.dropList > ul > li:nth-child(1) {
  margin-top: 100px;
}
.dropList > div {
  background-color: #e8a87c;
  border-bottom-right-radius: 15px;
  opacity: 0.7;
}

.lines {
  z-index: 999;
}
.line,
.close {
  margin: 7px;
  background-color: aliceblue;
  width: 12vw;
  max-width: 70px;
  min-width: 50px;
  height: 7px;
  border-radius: 5px;
  margin-left: 20px;
}

/* ANIMATION */
.close:nth-child(1) {
  transform: translateY(14px) rotate(45deg);
  transition: 0.2s ease-in-out;
}
.close:nth-child(2) {
  transform: translateY(0px) rotate(135deg);
  transition: 0.2s ease-in-out;
}
.close:nth-child(3) {
  visibility: hidden;
}
.line:nth-child(1) {
  transition: 0.2s ease-in-out;
}
.line:nth-child(2) {
  transition: 0.2s ease-in-out;
}
.line:nth-child(3) {
  transition: 0.1s step-end;
}


.menuList{
  position: absolute;
  margin-top: -45px;
  width: 100vw;
  height: 90px;
  background-color: lightblue;
  display: grid;
  grid-template-columns: 65%  35%;
  align-items: center;
}
.menuItems{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.menuItems>li{
  font-size: clamp(1rem, 2vw,1.9rem);
  font-weight: 600;
 
}
.menuItems>li:hover{
  cursor: pointer;
  opacity:0.8 ;
  background-color: rgb(211, 234, 241);
border-radius: 15px;
}
.menuItems>li>a,.dropList>ul>li>a{
  text-decoration: none;
  color: rgb(66, 53, 53);
}
.logoDiv{
  width: 100%;
  display: flex;
  justify-content: center;
}
.background{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -9;
 filter: blur(3px);
 opacity: 0.6;
}