/* DROPDOWN */

.dropList > ul {
  background-color: #270d05;
  margin: 0;
}
.dropList > ul > li {
  margin-left: -10px;
  margin-top: 40px;
  border-bottom: 2px solid gray;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 10px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  font-weight: 900;
  list-style-type: none;

  text-decoration: none;
}
.dropList > ul > li:nth-child(1) {
  margin-top: 90px;
}
.dropList > div {
  background-color: #270d05;
  border-bottom-right-radius: 15px;
  opacity: 0.7;
}
.dropdown > li > a {
  text-decoration: none;
  color: aliceblue;
  font-size: clamp(1.5rem, 5vw,2rem);
}

.dropList {
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100%;
  height: clamp(220px, 100%, 500px);
  overflow-x: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.mobile {
  width: 100%;
  height: 95px;
  position: absolute;
  overflow: hidden;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* X AND MENU ICON */
.lines {
  z-index: 999;
}
.line,
.close {
  margin: 7px;
  background-color: rgb(42, 61, 8);
  width: 12vw;
  max-width: 70px;
  min-width: 50px;
  height: 7px;
  border-radius: 5px;
  margin-left: 20px;
}

/* ANIMATION */
.close:nth-child(1) {
  transform: translateY(14px) rotate(45deg);
  transition: 0.2s ease-in-out;
  background-color: aliceblue;
}
.close:nth-child(2) {
  transform: translateY(0px) rotate(135deg);
  transition: 0.2s ease-in-out;
  background-color: aliceblue;
}
.close:nth-child(3) {
  visibility: hidden;
}
.line:nth-child(1) {
  transition: 0.2s ease-in-out;
}
.line:nth-child(2) {
  transition: 0.2s ease-in-out;
}
.line:nth-child(3) {
  transition: 0.1s step-end;
}

/* FOR LARGE SCREENS */
.main {
  height: clamp(70px, 8vh, 130px);
  width: 100vw;
}
.navbar {
  width: 100%;
  height: 95px;
  position: fixed;
  overflow: hidden;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link {
  font-size: clamp(1rem, 2vw, 1.9rem);
  font-weight: 600;
  text-decoration: none;
  color: rgb(66, 53, 53);
}
.link:hover {
  cursor: pointer;
  opacity: 0.7;
}
.menuItems > li > a {
  text-decoration: none;

  font-size: clamp(1rem, 2.3vw, 2rem);
}
.logo {
  height: clamp(60px, 7vw, 90px);
  border-radius: 15px;
}
