.main {
  z-index: 999999;
height: var(--navbar-height);
}
.dropdown {
margin: 0;
border-top-right-radius: 50px;
z-index: 999999;
}
.dropdown > li {
  margin-left: -10px;
  margin-top: 40px;
  border-bottom: 2px solid gold;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 10px;
  text-align: center;
  list-style-type: none;
  padding: 0;
  text-decoration: none;
}

.blur {
  background-color: var(--navbar);
  border-bottom-right-radius: 15px;
}
.dropdown > li > a {
  text-decoration: none;
  color: aliceblue;
  font-size: clamp(1rem, 5vw, 2rem);
  cursor: pointer;
}

.dropList {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-color: var(--navbar-dark);
  border-top: 2px solid var(--navbar-dark);
}

.mobile {
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  background-color: var(--navbar);
  justify-content: space-between;
}

/* X AND MENU ICON */
.lines {
  z-index: 999;
}
.line,
.close {
  margin: 7px;
  background-color: rgb(42, 61, 8);
  width: 12vw;
  max-width: 70px;
  min-width: 50px;
  height: 7px;
  border-radius: 5px;
  margin-left: 20px;
  background-color: white;
  cursor: pointer;
}

/* ANIMATION */
.close:nth-child(1) {
  transform: translateY(14px) rotate(45deg);
  transition: 0.2s ease-in-out;
  background-color: aliceblue;
}
.close:nth-child(2) {
  transform: translateY(0px) rotate(135deg);
  transition: 0.2s ease-in-out;
  background-color: aliceblue;
}
.close:nth-child(3) {
  visibility: hidden;
}
.line:nth-child(1) {
  transition: 0.2s ease-in-out;
}
.line:nth-child(2) {
  transition: 0.2s ease-in-out;
}
.line:nth-child(3) {
  transition: 0.1s step-end;
}

@media screen and (max-width: 1350px) {
  .dropList {
    grid-template-columns: 35% 65%;
  }
}
@media screen and (max-width: 1025px) {
  .dropList {
    grid-template-columns: 40% 60%;
  }
}
@media screen and (max-width: 850px) {
  .dropList {
    grid-template-columns: 50% 50%;
  }
}
@media screen and (max-width: 600px) {
  .dropList {
    grid-template-columns: 65% 35%;
  }
}
@media screen and (max-width: 500px) {
  .dropList {
    grid-template-columns: 70% 30%;
  }
}
@media screen and (max-width: 400px) {
  .dropList {
    grid-template-columns: 80% 20%;
  }
}
@media screen and (max-width: 300px) {
  .dropList {
    grid-template-columns: 90% 10%;
  }
}
.logo{
  margin-right: 1vw;
}




  .navlinks{
    height: var(--navbar-height);
    background-color: var(--navbar);
margin: 0;
padding: 0;
list-style-type: none;
display: flex;
justify-content: space-around;
align-items: center;
  }
  .navlinks>li>a{
    color: aliceblue;
    text-decoration: none;
    font-size: clamp(1rem,2vw,2rem)
  }
