.main {
    background-color: #070f2b;
    height: 100vh;
    width: 100%;
 display: grid;
 grid-template-rows: 5% 90% 5%;
    z-index: -1;
    place-items: center;
  }
  .slider{
    height: clamp(300px,70%,800px);
    width: clamp(250px,90vw,800px);
    margin: auto;
    margin-top: clamp(40px,3vh,60px);
    overflow: scroll;
  }

  .footer{
    position: absolute;
    bottom:0;
  }
 