.main {
  height: 80vh;
  min-width: 100%;
  padding-bottom: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: 60vh;
  border-radius: 15px;
  width: clamp(200px,90vw,700px);
  display: grid;
  place-items: center;
}
.errors {
background-color: var(--navbar);
  border-radius: 15px;
  height: 50%;
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ff0000;

}
.errors>h1{
    font-size: clamp(1.4rem,5vw,2rem);
}
.button {
  height: clamp(25px, 10vh, 100px);
  width: clamp(200px, 90%, 500px);
  font-size: clamp(0.95rem, 5vw, 2rem);
  border-radius: 15px;
  background-color: var(--navbar-dark);
  margin-top: 3vh;
  outline: none;
  border: none;
  color: var(--light-text);
}
.button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.button>a{
    text-decoration: none;
  color: var(--text-color);
    font-weight: 700;
}

