:root {
    --background-color: #070f2b; /* Example primary color */
    --foreground-color: #5f61acd3; /* Example secondary color */
    --text-color: #353935; /* Example background color */
  }
  body{
    overflow-x: hidden;
    background-image: url('./assets/photos/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
::-webkit-scrollbar{
    width: 4px;
    height: 3px;
    background-color: rgb(8, 7, 7);
}
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff; /* Color of the scrollbar handle */
}